<div [ngStyle]="{
    'width':width()+'px',
    'height':height()+'px',
    }">
    <div [ngClass]="{
        'p-2':true,
        'h-[40px]':true,
        'bg-gray-600': !lock(),  
        'bg-rose-600': lock()  
    }">
        <ng-content select="[movement]"></ng-content>
        <div class="absolute top-2 right-2 ">
            <input class="h-5 w-5 border rounded-full" [formControl]="colorControl" type="color">
        </div>
    </div>
    <div>
        <input 
        [formControl]="textControl" 
        placeholder="Write Something"
        class="border w-full p-2"
        type="text"
        [ngStyle]="{
            'background-color':colorControl.value,
            'height':height()-40+'px',
        }" >

    </div>
    <ng-content select="[resizable]"></ng-content>
</div>