<div class="absolute top-[40vh] left-[5px] z-10 shadow-lg">
    <div class="h-fit w-[120px] bg-white rounded-xl">
        <header class="flex justify-center p-2">
            <span class="font-bold">
                Components
            </span>
        </header>
        <div class="w-[90%] m-auto h-1 border-b "></div>
        <div cdkDropList cdkDropListSortingDisabled (cdkDropListDropped)="drop($event)"
            class="flex flex-col gap-1 pb-4 items-center justify-center">
            <!-- Square -->
            <div class="w-[90%] m-auto shadow flex justify-center items-center">
                <app-square square cdkDrag class="p-2 cursor-move" />
            </div>
            <!-- Rhombus -->
            <div class="w-[90%] m-auto shadow flex justify-center items-center">
                <app-rhombus rhombus cdkDrag class="p-2 cursor-move" />
            </div>
            <!-- text -->
            <div class="w-[90%] m-auto shadow flex justify-center items-center">
                <div textbox cdkDrag class="p-2 cursor-move">
                    <img width="35px" src="img/textbox.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>