
<app-board-status
 [username]="username()"
 [members]="members()"
 />
  <div class="board" (mousemove)="mouseMove($event)">
  <app-sidebar />
 <app-pointer 
 [pointer]="otherUserPointer()"
 />

  @for (shape of shapes(); track index;let index = $index) {
    @switch (shape.type) {
      @case ('square') {
        <app-square 
        [id]="'square-'+index"
        class="absolute"
        cdkDragBoundary=".board"
        cdkDrag
        [width]="shape.width "
        [height]="shape.height "
        [lock]="!!(shape.lockedBy && shape.lockedBy !== username())"
        [cdkDragFreeDragPosition]="{x:shape.x,y:shape.y}"
        (cdkDragStarted)="onShapeDragStart($event,shape.id)"
        (cdkDragEnded)="onShapeDragEnd($event, shape.id)"
        (cdkDragMoved)="onShapeDragMove($event, shape.id)"
        >
        <div class="cursor-move" movement cdkDragHandle>
          <svg width="20px" fill="currentColor" viewBox="0 0 24 24">
            <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
            <path d="M0 0h24v24H0z" fill="none"></path>
          </svg>
        </div>
        
        <div 
        resizable 
        (sizeChange)="resizingShape($event,shape.id)"  
        class="h-3 w-3 absolute bottom-0 right-0 bg-blue-500 cursor-nwse-resize"></div>
        </app-square>
      }
      @case ('textbox') {
        <app-textbox
        [id]="'textbox-'+index"
        class="absolute"
        cdkDragBoundary=".board"
        cdkDrag
        [width]="shape.width "
        [height]="shape.height "
        [text]="shape.text"
        [bgColor]="shape.color"
        [lock]="!!(shape.lockedBy && shape.lockedBy !== username())"
        [cdkDragFreeDragPosition]="{x:shape.x,y:shape.y}"
        (cdkDragStarted)="onShapeDragStart($event,shape.id)"
        (cdkDragEnded)="onShapeDragEnd($event, shape.id)"
        (cdkDragMoved)="onShapeDragMove($event, shape.id)"
        (textChange)="shapeTextChange($event,shape.id)"
        (colorChange)="shapeColorChange($event,shape.id)"
        >
        <div class="cursor-move" movement cdkDragHandle>
          <svg width="20px" fill="currentColor" viewBox="0 0 24 24">
            <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
            <path d="M0 0h24v24H0z" fill="none"></path>
          </svg>
        </div>
        
        <div 
        resizable 
        (sizeChange)="resizingShape($event,shape.id)"  
        class="h-3 w-3 absolute bottom-0 right-0 bg-blue-500 cursor-nwse-resize"></div>
        </app-textbox>
      }
      @case ('rhombus') {
        <app-rhombus 
        [id]="'rhombus-'+index"
        class="absolute"
        cdkDragBoundary=".board"
        cdkDrag
        [width]="shape.width "
        [height]="shape.height "
        [lock]="!!(shape.lockedBy && shape.lockedBy !== username())"
        [cdkDragFreeDragPosition]="{x:shape.x,y:shape.y}"
        (cdkDragStarted)="onShapeDragStart($event,shape.id)"
        (cdkDragEnded)="onShapeDragEnd($event, shape.id)"
        (cdkDragMoved)="onShapeDragMove($event, shape.id)"
        >
        <div class="cursor-move" movement cdkDragHandle>
          <svg width="20px" fill="currentColor" viewBox="0 0 24 24">
            <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
            <path d="M0 0h24v24H0z" fill="none"></path>
          </svg>
        </div>
        
        <div 
        resizable 
        (sizeChange)="resizingShape($event,shape.id)"  
        class="h-3 w-3 absolute bottom-0 right-0 bg-blue-500 cursor-nwse-resize"></div>
        </app-rhombus>
      }
    }
  }
</div>

