

.draggable-div {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    text-align: center;
    border: 1px solid #d3d3d3;
    width: 100px;
    height: 100px;
  }

  .resize-handle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: red;
    cursor: se-resize;
  }

  .lock{
    background-color: gray;
  }